header > h1 { border-bottom: 1px dashed black ; font-style: italic ; font-size: x-large; }
footer > p { border-top: 1px dashed black ; font-style: italic ; }
table { border-spacing:5px; width:530px;}
th { color:#FFF; background:#000; text-align:left; }
td { border-bottom:1px solid black; background:#F0F0F0; padding:3px; text-align:left; vertical-align:top;}
p#err_msg { color:#F00; font-weight:bold; }