h2.center { width:280px; margin-left:-70px; }
h3 { text-align:center; }
label { margin-left:150px; width:250px; float:left; text-align:right; }
#submit { margin-left:398px; }
html { height:100%; }
body { background:linear-gradient(green, #9ff781); height:100%;
}
