p { font-size:110%; }
#midcol h2 { width:400px; }
#mid-left-col h3 {font-size:150%; text-align:left; }
select { width:130px; }
form { 	margin-left:170px; }
.search { margin:0 0 0 120px; font-weight:bold; font-size:130%; color:white; }
#submit { width:70px; margin-left:0; }